*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
header{
    background-color: rgb(226, 223, 223);
    border-bottom: 1px solid #ddd;
    padding-top: 5px;
    padding-bottom: 5px;
}
.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    margin: auto;
}
.logo{
    font-size: 1.4rem;
    font-weight: 700;

}
.navbar ul{
    list-style: none;
    display: flex;
    gap: 20px;
}
.navbar a{
    color: black;
    text-decoration: none;
}
.navbar a:hover{
    color: rgb(66, 70, 70);
    text-decoration: underline;
}